<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Opaque.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Opaque.My.MySettings>
            <setting name="QuickNote" serializeAs="String">
                <value>This is QuickNote. Just start typing and QuickNote will auto-save, even if the application crashes. To begin, simply delete this message!</value>
            </setting>
            <setting name="search" serializeAs="String">
                <value>https://duckduckgo.com/?q=</value>
            </setting>
            <setting name="homepage" serializeAs="String">
                <value>https://duckduckgo.com/</value>
            </setting>
            <setting name="searchname" serializeAs="String">
                <value>DuckDuckGo</value>
            </setting>
            <setting name="themecolor" serializeAs="String">
                <value>#F0F0F0</value>
            </setting>
            <setting name="newpage" serializeAs="String">
                <value>https://opaquebrowser.com</value>
            </setting>
            <setting name="sharepage" serializeAs="String">
                <value />
            </setting>
            <setting name="tweetpage" serializeAs="String">
                <value>https://opaquebrowser.com</value>
            </setting>
            <setting name="CacheLocation" serializeAs="String">
                <value>DEFAULT</value>
            </setting>
            <setting name="ClearCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrivacyMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LifeSpanNewPage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadPercent" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadReB" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadTotB" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadSpeed" serializeAs="String">
                <value />
            </setting>
        </Opaque.My.MySettings>
    </userSettings>
</configuration>